%header#page_header{:role => "banner"}
  %nav#utility
    -if user_signed_in?
      Vous êtes <strong>
      =current_user.email
      </strong>​​
      =link_to('[Votre compte]', '#')
      \|
      =link_to( '[Déconnexion]', '#')
    -else
      Vous n'êtes pas connecté(e)
      =link_to('[Connexion]', new_user_session_path)
  =link_to(image_tag("logo.png",:alt => "DISIC",:id => "logo"),root_url,title: "Mareva")
  = yield :main_navigation
